@font-face {
    font-family: Lean;
    src: url(../font/Lean.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lean;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main > h1 {
    padding: 1% 0 3% 0;
}
.rounds{
    padding: 1% 5%;
}

.rounds h1{
    padding: 0 0 10% 0;
}

.round-container{
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 30px 30px;
    justify-items: center;
}

.statistic{
    padding: 1% 10%;
    margin: 0% 0;
    text-align: center;
    font-size: 1.5rem;
}

.ergebnis{
    padding: 1% 0;
    display: inline;
    text-align: center;
}

.ergebnis h2{
    padding: 0 0 5% 0;
}

.statistic{
    display: flex;
    align-items: center;
}
.statistic p{
    display: inline;
}

.auswahl{
    padding: 0% 1%;
}

.auswahl div{
    display: inline;
    margin: 0 20px;
}

#roundShow{
    display: flex;
    justify-content: center;
}

#howMany{
    font-size: 3rem;
    color: crimson;
}
#move{
    margin: 5% 0 0 0;
    padding: 0 0 3% 0;
}

#player, #comp{
    font-size: 5rem;
    padding: 0 20px;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
}

a:hover{
    color: crimson;
}

i{
    cursor:pointer;
    transition: .1s;
}

i:hover{
    transform: scale(1.1);
    color: green;
}

i:active{
    color: crimson;
    transform: scale(.9)
}

footer ul{
    padding: 5% 0 0 0;
    display: flex;
    justify-content: center;
}

footer ul li{
    list-style: none;
}

#outputWin{
    color: green;
    font-size: 2rem;
}

#outputLose{
    color: crimson;
    font-size: 2rem;
}

#outputDraw{
    color: yellow;
    font-size: 2rem;
}
